[Unit]
Description=GNOME Settings Daemon

[Service]
BusName=org.gnome.SettingsDaemon
ExecStart=/usr/lib/gnome-settings-daemon/gnome-settings-daemon
Restart=on-failure

[Install]
WantedBy=x11.target
