[Unit]
Description=Music Player Daemon

[Service]
Type=forking
Environment=PULSE_PROP=application.icon_name=sonata
ExecStart=/usr/bin/mpd --verbose
PIDFile=%t/mpd.pid

[Install]
WantedBy=default.target
