[Unit]
Description=Openbox
Wants=compton.service
After=environment.target
Wants=window-manager.target
Before=window-manager.target

[Service]
ExecStart=/usr/bin/openbox
ExecReload=/usr/bin/openbox --reconfigure
ExecStop=/usr/bin/openbox --exit
KillMode=process
Restart=always
RestartSec=1
