[Unit]
Description=XBindKeys daemon
After=environment.target

[Service]
ExecStart=/usr/bin/xbindkeys --nodaemon --file ${XDG_CONFIG_HOME}/xbindkeys/xbindkeysrc
KillMode=process

[Install]
WantedBy=x11.target
